<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifsp.detectorqueda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITIES -->
        <!-- MainActivity -->
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DetectorActivity -->
        <activity
            android:name=".activities.DetectorActivity"
            android:parentActivityName=".activities.MainActivity">

            <!-- Meta-tag necessária para suportar api level 15 ou menor -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <!-- AlertaQuedaActivity -->
        <activity
            android:name=".activities.AlertaQuedaActivity">
        </activity>

        <!-- SERVICES -->
        <!-- DetectorQuedaService -->
        <service android:name=".services.DetectorQuedaService"
            android:exported="false"/>
    </application>

</manifest>